<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Cafe.Properties.Settings.CafeConnectionString" connectionString="Data Source=DESKTOP-849LOEV\SQLEXPRESS;Initial Catalog=Cafe;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Cafe.Properties.Settings>
            <setting name="connString" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Cafe;Data Source=DESKTOP-849LOEV\SQLEXPRESS;</value>
            </setting>
            <setting name="userId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="roleId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="closedByButton" serializeAs="String">
                <value>False</value>
            </setting>
        </Cafe.Properties.Settings>
    </userSettings>
</configuration>